.main-banner{
	overflow: hidden;
}
.main-bnr-des{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 60px;
	background: url(../images/title-opacity-bg.png);
	padding: 26px 0 27px;
	z-index: 1;
}
.main-bnr-item{
	position: relative;
}
.main-bnr-title{
	display: block;
	text-align: right;
	padding-right: 10px;
	color: #fff;
	font-size: 50px;
	line-height: 1;
	margin: 0;
    font-family: 'Archivo-Regular';
}
.hm-main-content-top{
	padding-bottom: 1px;
}

.hm-main-content-top p a,
.hm-main-con-cntlr .panel-layout p a{
	text-decoration: underline;
}

.hm-main-con-cntlr hr {
    margin-top: 25px;
    margin-bottom: 50px;
    border: 0;
    border-top: 6px solid #f1f1f1;
    clear: both;
}
.fea-img-grd-boxs-cntlr ul,
.hm-main-con-cntlr #pg-21-1.panel-grid{
	margin: 0 -5px;
}

#pg-21-1{
	padding-top: 63px;
	padding-bottom: 63px;
	position: relative;
	margin-bottom: 50px!important;
}
#pg-21-1:before,
#pg-21-1:after{
	content: "";
	left: 5px;
	right: 5px;
	height: 6px;
	background: #f1f1f1;
	position: absolute;
}
#pg-21-1:before{
	top: 0;
}
#pg-21-1:after{
	bottom: 0;
}
.fea-img-grd-boxs-cntlr ul li,
.hm-main-con-cntlr #pg-21-1.panel-grid .panel-grid-cell{
	float: left;
	width: 33.3333%;
	padding: 0 5px 0;
}
.hm-main-con-cntlr #pg-21-1.panel-grid .panel-grid-cell .so-widget-sow-image{
	position: relative;
	overflow: hidden;
}

.hm-main-con-cntlr #pg-21-1.panel-grid .panel-grid-cell .sow-image-container img{
	width: 100%;
	filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

    


.fea-img-grd-boxs-cntlr{
	padding-bottom: 15px;
}
.fea-img-grd-box{
	height: 370px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.fea-img-grd-box-img{
	width: 100%;
	height: 100%;
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.fea-img-grd-box-title,
.hm-main-con-cntlr #pg-21-1.panel-grid .panel-grid-cell .so-widget-sow-image .widget-title{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	background: rgba(11,27,37,.7);
	padding: 20px 15px 20px 35px;
	display: block;
	color: #fff;
	margin: 0;
	font-size: 52px;
	line-height: 1.2;
    font-family: 'Archivo-Regular';	
}

.fea-img-grd-box:hover .fea-img-grd-box-img,
.hm-main-con-cntlr #pg-21-1.panel-grid .panel-grid-cell .so-widget-sow-image:hover .sow-image-container img{
	filter:  grayscale(0);
}
.fea-img-grd-box:hover .fea-img-grd-box-title,
.hm-main-con-cntlr #pg-21-1.panel-grid .panel-grid-cell .so-widget-sow-image:hover .widget-title{
	background: rgba(81,116,53,.9);
}

.hm-main-con-btm-des{
	min-height: 370px;
	padding-bottom: 10px;
}



@media(max-width: 1499px){

}

@media(max-width: 1399px){
	.fea-img-grd-box-title,
	.hm-main-con-cntlr #pg-21-1.panel-grid .panel-grid-cell .so-widget-sow-image .widget-title{
		font-size: 42px;
	}
}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.main-bnr-item{
		height: 620px!important;
	}
	.main-bnr-des {
	    padding: 22px 0 21px;
	}
	.main-bnr-title{
		font-size: 42px;
	}
	.fea-img-grd-box-title,
	.hm-main-con-cntlr #pg-21-1.panel-grid .panel-grid-cell .so-widget-sow-image .widget-title {
	    font-size: 36px;
	}

}

@media(max-width: 991px){
	.main-bnr-item {
	    height: 520px!important;
	}
	.main-bnr-title {
	    font-size: 32px;
	}
	.fea-img-grd-box-title,
	.hm-main-con-cntlr #pg-21-1.panel-grid .panel-grid-cell .so-widget-sow-image .widget-title{
		padding: 15px 15px 15px 20px;
		font-size: 25px;
	}
}
@media(max-width: 780px){
	.fea-img-grd-boxs-cntlr ul li, 
	.hm-main-con-cntlr #pg-21-1.panel-grid .panel-grid-cell{
		width: 100%;
		padding-bottom: 0;
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}
	.fea-img-grd-boxs-cntlr ul, .hm-main-con-cntlr #pg-21-1.panel-grid {
	    margin-left: 0;
	    margin-right: 0;
	}
	#pg-21-1:before, #pg-21-1:after{
		height: 4px;
	}
	#pg-21-1{
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
@media(max-width: 767px){
	.main-bnr-des{
		bottom: 30px;
	}
	.main-bnr-title{
		padding-right: 0;
		text-align: left;
	}
	
	.fea-img-grd-box{
		
	}
	
}

@media(max-width: 575px){
	.hm-main-con-cntlr hr {
	    margin-top: 15px;
	    margin-bottom: 35px;
	    border-top: 4px solid #f1f1f1;
	}

}

@media(max-width: 479px){
	.fea-img-grd-box{
		height: 320px;
	}

}

@media(max-width: 359px){

}