
.breadcrumbs-sec{
	background: #f1f1f1;
	padding: 10px 0 7px;
	font-size: 13px;
	line-height: 15px;
	margin-bottom: 50px;
}
.breadcrumbs ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.breadcrumbs ul li:first-child{
	padding-left: 0;
}
.breadcrumbs ul li:first-child a{
	position: relative;
}
.breadcrumbs ul li:first-child a:before{
	content: "";
	position: absolute;
	left: 0;
	top: 2px;
	background: url(../images/home-icon.png);
	width: 9px;
	height: 10px;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.breadcrumbs ul li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 7px;
	position: relative;
}
.breadcrumbs ul li:not(:last-child):after {
    content: ">";
    position: absolute;
    right: -12px;
    top: 2px;
    color: #898989;
}
.breadcrumbs ul li a{
	color: #898989;
	display: inline-block;
	vertical-align: baseline;
    font-family: 'OpenSansLight';
    padding-left: 18px;
}
.breadcrumbs ul li a:hover{
	color: #6a8852;
}


/*
page banner
*/
.page-banner-controller{
	height: 342px;
	position: relative;
}
.page-banner-bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-repeat: no-repeat!important;
	background-position: center!important;
	background-size: cover!important;
}

/*
page content
*/
.page-con-cntlr{
	padding-bottom: 100px;
}
.page-con-cntlr ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.page-con-cntlr ul li{
	position: relative;
	padding: 0 0 5px 20px;
}
.page-con-cntlr ul li:before{
	content: "";
	width: 8px;
	height: 8px;
	background: #000;
	border-radius: 100%;
	position: absolute;
	top: 11px;
	left: 0;
	line-height: 0;
}
.page-con-cntlr p{
	margin-bottom: 30px;
}
.page-con-cntlr h2,
.page-con-cntlr h3,
.page-con-cntlr h4,
.page-con-cntlr h5{
	padding-top: 30px;
}