
.breadcrumbs-sec{
	background: #f1f1f1;
	padding: 10px 0 7px;
	font-size: 13px;
	line-height: 15px;
	margin-bottom: 50px;
}
.breadcrumbs ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.breadcrumbs ul li:first-child{
	padding-left: 0;
}
.breadcrumbs ul li:first-child a{
	position: relative;
}
.breadcrumbs ul li:first-child a:before{
	content: "";
	position: absolute;
	left: 0;
	top: 2px;
	background: url(../images/home-icon.png);
	width: 9px;
	height: 10px;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.breadcrumbs ul li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 7px;
	position: relative;
}
.breadcrumbs ul li:not(:last-child):after {
    content: ">";
    position: absolute;
    right: -12px;
    top: 2px;
    color: #898989;
}
.breadcrumbs ul li a{
	color: #898989;
	display: inline-block;
	vertical-align: baseline;
    font-family: 'OpenSansLight';
    padding-left: 18px;
}
.breadcrumbs ul li a:hover,
.breadcrumbs ul li.active a{
	color: #6a8852;
}


/*
page banner
*/
.page-banner-controller{
	height: 342px;
	position: relative;
}
.page-banner-bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-repeat: no-repeat!important;
	background-position: center!important;
	background-size: cover!important;
}

/*
page content
*/
.page-con-cntlr{
	padding-bottom: 100px;
}
.page-con-cntlr ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.page-con-cntlr ul li{
	position: relative;
	padding: 0 0 5px 20px;
}
.page-con-cntlr ul li:before{
	content: "";
	width: 8px;
	height: 8px;
	background: #000;
	border-radius: 100%;
	position: absolute;
	top: 11px;
	left: 0;
	line-height: 0;
}
.page-con-cntlr p{
	margin-bottom: 30px;
}
.page-con-cntlr h2,
.page-con-cntlr h3,
.page-con-cntlr h4,
.page-con-cntlr h5{
	padding-top: 30px;
}


/**
---------------
404 page
---------------
*/
.page-404{
	min-height: 400px;
	padding-top: 100px;
}


/**
Form section
*/
.form-section{
	padding: 40px 0 100px;
}
.form-inner{
	margin-right: -50px;
}
.form-inner p{
	line-height: 37px;
}

input[type="text"],
input[type="email"],
textarea{
	padding: 15px 20px 15px;
	height: 60px;
	background: #f5f5f5;
	border: 1px solid #f5f5f5;
	width: 100%;
}
input,
textarea{
	margin: 20px 0 0;
	vertical-align: top;
}
textarea{
	height: 260px;
}
input[type="submit"]{
/*	background: url(../images/submit-bg.png);*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 245px;
	height: 60px;
	color: #fff;
    border: 0;	
}


/**
---------------------
Start blog
---------------------
*/
.main-content{
	padding: 60px 0 150px;
}
.posts-section{
	padding-top: 0;
}
.post-img a{
	display: block;
}
.post-img a img{
	width: 100%;
}
.post-item{
	padding-bottom: 45px;
}
.post-img {
    float: left;
    width: 15%;
    margin-right: 3%;
    margin-bottom: 25px;
}
.post-des{
	float: left;
	width: 80%;
	font-size: 17px;
	line-height: 20px;
}
.post-des a{
	color: #262626;
}
.right-sidebar{
	padding-right: 40px;
}

.sidebar-widget{
	padding-bottom: 40px;
	color: #1c2b35
}
.post-des h4,.sidebar-widget h4{
	margin: 0;
	padding-bottom: 10px;
	color: #000000;
}
.post-des h4{
	margin-top: -1px;
}
.sidebar-widget h4{
	font-weight: 600;
}
.post-des h4 a{
	color: #000000;
}
.sidebar-widget h4{
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
}
.sidebar-widget ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-widget ul li{
	padding-bottom: 5px;
	font-size: 18px;
}
.sidebar-widget ul li a{
	font-family: 'Archivo-Regular';
}
.sidebar-widget ul li a:hover,
.post-des h4 a:hover,
.post-des a:hover{
	color: #43574c;
	text-decoration: none;
}

.sp-detail{
	width: 70%;
	margin-right: 0;
}
.post-des.sp-detail{
	padding-bottom: 15px;
}
.page-404{
	min-height: 400px;
}
.page-404-con{
	padding-top: 50px;
}

/*search*/
.right-sidebar .widget_search{
	position: relative;
	margin-bottom: 40px;
}
.right-sidebar  .widget_search input[type="search"]{
	border: 1px solid #E6E6E6;
	padding: 8px 10px 8px 40px;
	width: 100%;
	height: 40px;
	border-radius: none;
	font-family: Arial,Helvetica,sans-serif;
	margin-top: 0;
}
.right-sidebar .widget_search input[type="submit"]{
	position: absolute;
	background: url(../images/search-icon.png);
	background-repeat: no-repeat;
	width: 16px;
	height: 15px;
	border: 0;
	left: 14px;
	top: 12px;
	margin-top: 0;
}

.right-sidebar .screen-reader-text{
	display: none;
}
.right-sidebar .widget_search label{
	width: 100%;
}

.footer-widget-wrap{
    position: relative;
    overflow: hidden;	
}
.footer-border-ract{
    background: transparent;
    border-style: solid;
    border-top-width: 50px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-color: transparent transparent transparent #f6f6f6;
    color: #fff;
    height: 306px;	
    z-index: 9;
    position: relative;
}
.footer-border-ract-border{
    background: transparent;
    border-style: solid;
    border-top-width: 50px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-color: transparent transparent transparent #e9e9e9;
    color: #fff;
    height: 306px;	
    z-index: 8;
    top: -1px;
    position: absolute;
}
.bfly-eff{
	position: absolute;
	left: 102%;
	width: 266px;
	height: 450px;
	top: 115px;
}
.red-bar{
    height: 18px;
    width: 100%;
    background: #e83659;	
}
.mgleftm{
	margin-left: -45px;
}
.fl-page-content{
	padding-top: 60px;
}




@media(max-width: 1199px){
	.right-sidebar {
	    padding-right: 20px;
	}

}

@media(max-width: 991px){
	.page-banner-controller {
	    height: 300px;
	}
	.main-content{
		padding-top: 20px;
	}
}

@media(max-width: 767px){
	.page-banner-controller {
	    height: 280px;
	}
	.page-con-cntlr h2, .page-con-cntlr h3, .page-con-cntlr h4, .page-con-cntlr h5 {
	    padding-top: 15px;
	}
	.post-des,
	.post-img{
		width: 100%;
	}
	.post-img a img {
	    width: auto;
	}
	.post-des h4 {
	    margin-top: 0;
	}
	.post-img{
		margin-right: 0;
		margin-bottom: 20px;
	}
}

@media(max-width: 575px){
	.page-banner-controller {
	    height: 270px;
	}
	.page-404{
		padding-top: 0;
	}

}

@media(max-width: 479px){
	.page-banner-controller {
	    height: 245px;
	}

}

@media(max-width: 359px){

}

